[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
pillow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
